In [70]:
import pyspark
import pandas as pd

In [71]:
df = pd.read_csv('test1.csv')

In [72]:
df.head()

     name  age  experience
0    hiep   21          10
1  phuong   21           8
2   khanh   20           5

In [73]:
from pyspark.sql import SparkSession

In [74]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()
spark

In [75]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)

In [76]:
df_pyspark.head(3)

[Row(name='hiep', age=21, experience=10),
 Row(name='phuong', age=21, experience=8),
 Row(name='khanh', age=20, experience=5)]

In [77]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [78]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  name|age|experience|
+------+---+----------+
|  hiep| 21|        10|
|phuong| 21|         8|
| khanh| 20|         5|
+------+---+----------+

In [79]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [80]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [81]:
df_pyspark.describe().show()

+-------+------+------------------+------------------+
|summary|  name|               age|        experience|
+-------+------+------------------+------------------+
|  count|     3|                 3|                 3|
|   mean|  NULL|20.666666666666668| 7.666666666666667|
| stddev|  NULL|0.5773502691896258|2.5166114784235836|
|    min|  hiep|                20|                 5|
|    max|phuong|                21|                10|
+-------+------+------------------+------------------+

In [82]:
df_pyspark = df_pyspark.withColumn("Experience after 2 years",df_pyspark['Experience']+2)

In [83]:
df_pyspark.show()

+------+---+----------+------------------------+
|  name|age|experience|Experience after 2 years|
+------+---+----------+------------------------+
|  hiep| 21|        10|                      12|
|phuong| 21|         8|                      10|
| khanh| 20|         5|                       7|
+------+---+----------+------------------------+

# Handling missing values

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Pracise').getOrCreate()

In [9]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [10]:
df_pyspark.show()

+------+---+----------+
|  name|age|experience|
+------+---+----------+
|  hiep| 21|        10|
|phuong| 21|         8|
| khanh| 20|      NULL|
|  tuan| 20|         6|
+------+---+----------+

In [12]:
df_pyspark.na.drop(how='any').show() # or all

+------+---+----------+
|  name|age|experience|
+------+---+----------+
|  hiep| 21|        10|
|phuong| 21|         8|
|  tuan| 20|         6|
+------+---+----------+

In [13]:
df_pyspark.na.drop(how='any', thresh=2).show() # nukmber of non null values

+------+---+----------+
|  name|age|experience|
+------+---+----------+
|  hiep| 21|        10|
|phuong| 21|         8|
| khanh| 20|      NULL|
|  tuan| 20|         6|
+------+---+----------+