# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv")
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [3]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

   ### Step 3. Assign each to a variable called cars1 and cars2

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [8]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([60624, 23714, 69845, 30835, 64480, 63194, 32827, 52416, 56146,
       51879, 67752, 56082, 15399, 43127, 50199, 25215, 25059, 40524,
       63293, 69578, 50270, 63093, 27519, 62716, 49240, 48944, 34177,
       61520, 47397, 69100, 15390, 24605, 54371, 23562, 22641, 60098,
       39664, 36737, 41391, 72286, 38910, 15163, 18048, 26404, 16280,
       56855, 33831, 29572, 19692, 22857, 44530, 28993, 34084, 68883,
       31506, 38458, 58075, 64395, 19746, 32012, 38472, 32955, 47569,
       47924, 61503, 27830, 40046, 63435, 48036, 58218, 30032, 52787,
       16296, 68678, 28835, 30989, 22149, 30549, 25686, 15920, 44931,
       43380, 15312, 35643, 52546, 45578, 68472, 71872, 46552, 41083,
       27112, 48254, 16389, 66668, 56682, 20950, 72199, 51819, 48548,
       26506, 15001, 55751, 15881, 63591, 20502, 66850, 44236, 69964,
       37616, 16998, 46195, 60715, 47269, 18911, 19114, 68885, 35950,
       16274, 42368, 37342, 67755, 27258, 42641, 51505, 25352, 57119,
       46585, 20635, 34353, 48704, 59609, 33177, 61285, 16500, 30841,
       41075, 37494, 45292, 27413, 66750, 53654, 48574, 46294, 46105,
       38844, 58706, 69393, 40701, 17438, 47659, 30243, 50468, 32236,
       42067, 20551, 34358, 20536, 31035, 52707, 19211, 45431, 62965,
       57489, 39440, 66570, 24519, 28867, 72318, 56649, 34059, 16002,
       44398, 35679, 20327, 54507, 59119, 55475, 23096, 29052, 68628,
       41081, 52511, 24789, 62693, 51552, 70928, 18141, 67741, 22310,
       53549, 49677, 62944, 58328, 36397, 32340, 64192, 71307, 69859,
       22062, 56408, 16468, 66876, 55726, 58319, 47671, 34714, 41836,
       17098, 46507, 42898, 17216, 28974, 32481, 21209, 46405, 54764,
       72582, 38731, 32275, 40435, 31226, 26381, 26313, 26213, 27824,
       67946, 47586, 51203, 63774, 20354, 50147, 32018, 20110, 23145,
       66250, 37074, 52208, 16293, 67068, 34580, 55346, 51181, 17635,
       68103, 32092, 41886, 52562, 22968, 67484, 32098, 23047, 33699,
       60008, 35466, 70602, 20891, 48935, 49002, 41854, 35238, 19347,
       70367, 33217, 64650, 58072, 28800, 39467, 69803, 41373, 44388,
       29427, 17394, 68192, 53813, 15269, 58231, 60269, 48415, 38761,
       39173, 51937, 37526, 49655, 41355, 44030, 36455, 62974, 34767,
       25444, 56918, 49869, 19694, 55851, 25792, 56564, 68622, 46905,
       31811, 22637, 25034, 34843, 19484, 19689, 37189, 70624, 42328,
       16534, 51233, 34751, 47790, 42973, 18848, 43851, 61383, 63202,
       61037, 44912, 24897, 15016, 40868, 17819, 59640, 57830, 31742,
       16456, 45657, 64932, 21754, 66560, 36233, 33078, 31787, 40451,
       51120, 59838, 30630, 44303, 28753, 38766, 60666, 42277, 30398,
       35238, 15115, 31784, 25021, 65018, 71170, 31506, 34368, 62728,
       69154, 29133, 20658, 69795, 24509, 35407, 19774, 61214, 32964,
       47540, 50199, 54309, 33608, 15614, 49274, 17754, 64524, 39415,
       70353, 38449, 60344, 59283, 31205, 15117, 34521, 60589, 53326,
       67375, 65843, 52349, 69812, 71416, 50035, 60168, 20501, 23906,
       72943, 59950, 41741, 52502, 38593, 52676, 24282, 25733, 26004,
       34522, 48424])

### Step 8. Add the column owners to cars

In [10]:
cars['owners'] = nr_owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,60624
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,23714
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,69845
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,30835
4,17.0,8,302,140,3449,10.5,70,1,ford torino,64480